In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from keras.callbacks import ModelCheckpoint
import tensorflow as tf

In [4]:
data_dir = './dataset credit-approval/Datasets_Dummy_CreditApproval-v3.csv'
with open(data_dir, 'r') as csvfile:
    print(f"First line (header) looks like this:\n\n{csvfile.readline()}")
    print(f"Each data point looks like this:\n\n{csvfile.readline()}")

First line (header) looks like this:

ï»¿;approval;gender;usia; pinjaman;tenor;pemasukan;tanggungan;pekerjaan;donasi

Each data point looks like this:

0;N;M;53;1800000;6;1500000;1;Buruh;0

In [6]:
df  = pd.read_csv(data_dir, delimiter=';')
df.head()

,Unnamed: 0,approval,gender,usia,pinjaman,tenor,pemasukan,tanggungan,pekerjaan,donasi
0,0,N,M,53,1800000,6,1500000,1,Buruh,0
1,1,Y,M,61,500000,4,3500000,0,Guru/Dosen,3
2,2,N,M,33,1000000,6,1200000,0,Pedagang,6
3,3,N,M,37,1200000,16,1800000,5,Pekerja Lepas,5
4,4,Y,F,36,1200000,10,4600000,1,Buruh,4

In [9]:
data = df.drop('Unnamed: 0', axis=1)
data.head()

,approval,gender,usia,pinjaman,tenor,pemasukan,tanggungan,pekerjaan,donasi
0,N,M,53,1800000,6,1500000,1,Buruh,0
1,Y,M,61,500000,4,3500000,0,Guru/Dosen,3
2,N,M,33,1000000,6,1200000,0,Pedagang,6
3,N,M,37,1200000,16,1800000,5,Pekerja Lepas,5
4,Y,F,36,1200000,10,4600000,1,Buruh,4